
.form{
    width: 100%;
}

.title{
margin: 10px 0;
width: 100%;
border-bottom: 1px solid #aaa;
}

.field{
    width: 100%;

}

.field input{
    width: 100%;
    margin: 5px 0;
    height: 40px;
    border:none;
    outline: none;
    padding: 4px;
    font-size: 1rem;
    box-shadow: 0 3px 4px #0001;
}

.transactionButton{
    margin: 10px 0;
    width: 100%;
    border-color:lightgreen;
    background:lightgreen;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
}